
body {
	font-family: "Oswald";
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.notgo {
	width: 85%;
	border: 1px solid black;
	margin: 30px auto;
	border-color: red;
}

.go {
	width: 85%;
	border: 1px solid black;
	margin: 30px auto;
	border-color: green;
}

.barimage .img {
	display: inline;

}

.data  {
	background-color: red;
	width: 50%;
	display: inline;

	margin: 20px;
}